.my-custom-margin {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
    color: white;
    cursor: pointer
  }

  .mat-card {

    
    background-size: cover;
    /* Si quieres aplicar estilos adicionales específicos para el mat-card */
    /* Por ejemplo, ajustar la opacidad para que el fondo sea más tenue */
   
 }